<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dharanaditya.app.geopic">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.dharanaditya.app.geopic.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dharanaditya.app.geopic.ImagesActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.dharanaditya.app.geopic.FavoritesActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="com.dharanaditya.app.geopic.data.GeoPicProvider"
            android:authorities="@string/content_authority"
            android:exported="true" />

        <activity
            android:name="com.dharanaditya.app.geopic.PreviewActivity"
            android:launchMode="singleTop" />

        <receiver android:name="com.dharanaditya.app.geopic.widget.GeoPicWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name="com.dharanaditya.app.geopic.widget.GeoPicGridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>